<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403968429836-mh71m6hgnmmbnqu0vi95qtvuj1s7tqgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403968429836-mh71m6hgnmmbnqu0vi95qtvuj1s7tqgo</string>
	<key>API_KEY</key>
	<string>AIzaSyAIQCmHTbBU9bDLhjPrc4gue1jK_ymvNtg</string>
	<key>GCM_SENDER_ID</key>
	<string>403968429836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sara.PinPoint</string>
	<key>PROJECT_ID</key>
	<string>pinpoint-64611</string>
	<key>STORAGE_BUCKET</key>
	<string>pinpoint-64611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403968429836:ios:bea2426ba2166efe6cc329</string>
	<key>DATABASE_URL</key>
	<string>https://pinpoint-64611.firebaseio.com</string>
</dict>
</plist>